.button {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 70px;
}

.overflow {
  overflow: hidden;
}

.datagrid {
  height: 60vh;
}

.background-card {
  height: 84vh;
  padding-top: 60px;
}

.date-picker {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
