.button {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 70px;
}

.datagrid {
    height: 90vh;
}

.background-card {
    background-color: #005c46;
    height: 100vh;
    padding-top: 60px;
}

.date-picker {
    height: 80px;
    display: flex;
    justify-content: space-between;
}