.background {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.card-button {
  background-color: orange;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 8px 5px rgb(0, 0, 0, 0.3);
  font-size: 25px;
  cursor: pointer;
}
